# Виртуальное окружение
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Выгруженные данные канала
channel_dump/

# ---------------------------------------------------
# КРИТИЧЕСКИ ВАЖНО: СЕКРЕТНЫЕ ДАННЫЕ
# ---------------------------------------------------

# Файлы сессий Telethon (полный доступ к твоему аккаунту!)
*.session
*.session-journal

# Файл с пользовательским API_ID и API_HASH
config.py