# --- КРЕДЕНШИНАЛЫ ИЗ my.telegram.org ---
API_ID = 1234567  # Замени на свой API ID
API_HASH = 'твой_api_hash'

# --- НАСТРОЙКИ КАНАЛА ---
CHANNEL_TARGET = -1000000000000 # Замени на ID нужного канала. В случае затруднений можно использовать get_chats.py - отобразит список всех каналов с их ID

# --- ПАРАМЕТРЫ СОХРАНЕНИЯ ---
SAVE_DIR = 'channel_dump'
MEDIA_DIR = 'channel_dump/media'

# Задержка между запросами в секундах
DELAY = 3